<div> <app-header></app-header></div>
<div class="add-product">

<hr style="height: 10px; color: black; background-color: black;" >
<div class="multi_card">
<div class="product-card" *ngFor="let computer of computer_datas">
    <img src={{computer.url}} alt="Product Image">
    <h3 class="product-title">BrandName: {{computer.computer_name}}</h3>
    <p class="product-description">Description: {{computer.Description}}</p>
    <span class="product-price">Price: ₹{{computer.Price}}</span><br>
    <span class="product-quantity">Quantity: {{computer.Available_quantiy}}</span><br>
    <button mat-raised-button class="product-button"  (click)="addToProduct(computer)" id="{{computer.id}}">Add to cart</button>
  </div>



</div>
<div class="container">
<button class="glow-on-hover" (click)=" openDialog()">Buy</button>

</div>

<ul>
  <li *ngFor="let item of productdata">
    {{ item.computer_name }}
  </li>
</ul>


