<div class="add-product">
<h1 style="text-align: center;" class="company-name">Megaminds Digitals</h1>
<hr style="height: 10px; color: black; background-color: black;" >
<div class="multi_card">
<div class="product-card" *ngFor="let computer of computer_datas">
    <img src={{computer.url}} alt="Product Image">
    <h3 class="product-title">BrandName: {{computer.computer_name}}</h3>
    <p class="product-description">Description: {{computer.Description}}</p>
    <span class="product-price">Price: ₹{{computer.Price}}</span><br>
    <span class="product-quantity">Quantity: {{computer.Available_quantiy}}</span><br>
    <button mat-raised-button class="product-button"  (click)="openPopup()" id="{{computer.id}}">Buy</button>
  </div>

</div>


<!-- <table>
    <thead>
        <th>Id:</th>
        <th>BrandName:</th>
        <th>Description:</th>
        <th>Price:</th>
        <th>Quantity:</th>
    </thead>
    <tbody>
        <tr *ngFor="let computer of computer_datas">
            <td>{{computer.id}}</td>
            <td>{{computer.computer_name}}</td>
            <td>{{computer.Description}}</td>
            <td>{{computer.Price}}</td>
            <td>{{computer.id}}</td>
        </tr>
    </tbody>
</table> -->
<!-- <form #addproduct = "ngForm">
    <div class="product-container">
        <img class="product-image" src="product-image.jpg" alt="Product Image">
        <div class="product-details">
          <div class="product-name">Dell</div>
          <div class="product-price">$19.99</div>
          <div class="product-description">Description</div>
        </div>
      </div>

</form> -->
</div>
