<div> <app-header></app-header></div>
<div class="add-product">

<hr style="height: 10px; color: black; background-color: black;" >
<div class="multi_card">
<div class="product-card" *ngFor="let computer of computer_datas">
    <img src={{computer.url}} alt="Product Image">
    <h3 class="product-title">BrandName: {{computer.computer_name}}</h3>
    <p class="product-description" style="max-lines: 2;">Description: {{computer.Description}}</p>
    <span class="product-price">Price: ₹{{computer.Price}}</span><br>
    <span class="product-quantity">Quantity: {{computer.Available_quantiy}}</span><br>
    <button mat-raised-button style="display: inline-block; background-color: #fff; justify-content: center; align-content: center; align-self: center;"  (click)="addToProduct(computer)" id="{{computer.id}}">Add to cart</button>
  </div>



</div>
<div class="container" >
<button class="glow-on-hover" (click)=" openDialog()">Open Cart</button>

</div>


<!-- <ul>
  <li *ngFor="let item of productData">
    {{ item.computer_name }}
  </li>
</ul> -->


