/* .company-name {
    font-family: 'Arial Black', sans-serif;
    font-size: 48px;
    color: #000000;
    text-shadow: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }

  
   .product-container {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .product-image {
    width: 150px;
    height: 150px;
  }

  .product-details {
    display: flex;
    flex-direction: column;
  }

  .product-name {
    font-weight: bold;
    font-size: 18px;
  }

  .product-price {
    color: #ff5500;
    font-weight: bold;
    font-size: 16px;
  }

  .product-description {
    font-size: 14px;
  } */
  .multi_card{
      display: flex;
      justify-content: space-between; 
      margin-left: 10px;
      margin-bottom: 20px;
      margin-right: 10px;
  }
  .product-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    width: 200px;
  }
  
  .product-card img {
    width: 100%;
    height: 200px;
    border-radius: 4px;
  }
  
  .product-title {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .product-description {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
  }
  
  .product-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
  }
  
  .product-button {
    display: inline-block;
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup {
    position: fixed;
    bottom: 20px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }