
<div class="dialog-content">
  <img src="https://tse1.mm.bing.net/th?id=OIP.IMQ4Vip7lK38swM3sfQ6HwHaHa&pid=Api&P=0&h=180" alt="Close" class="close-image" (click)="closeDialog()" style="height: 20px; width: 20px;">


    <div *ngFor="let item of productdata ; let i = index" >
     <!-- Item-{{i+1}}&nbsp;<img src={{item.url}} alt="Product Image" style="width: 40px; height: 40px;"> &nbsp;&nbsp; {{ item.computer_name | json}} &nbsp;&nbsp;&nbsp; Quantity: {{item.Available_quantiy}} &nbsp;&nbsp;&nbsp; Price: {{item.Price | json}} -->
     <table style="padding-top: 20px; display: flex; align-items: center;    display: grid; grid-template-columns: repeat(8,2fr); grid-gap: 0px;" >
      <td style=" padding-left: 30px; display: flex; align-items: center;">Item: {{i+1}}</td>
      <td style=" padding-left: 30px; display: flex; align-items: center;"><img src={{item.url}} alt="Product Image" style="width: 40px; height: 40px; vertical-align: middle; "></td>
      <td style=" padding-left: 30px; display: flex; align-items: center;">{{ item.computer_name | json}}</td>
      <td style=" padding-left: 30px; display: flex; align-items: center;">Quantity: {{item.Available_quantiy}}</td>
      <td style=" padding-left: 30px; display: flex; align-items: center;">Price: {{item.Price | json}}</td>
      <td><div class="quantity">
        <button class="quantity__minus">-</button>
        <input type="text" class="quantity__input"/>
        <button class="quantity__plus">+</button>
        </div></td>
        <td style="padding-left: 30px; display: flex; align-items: center;"><img src="https://tse1.mm.bing.net/th?id=OIP.krksnC9b3DVQykriDw-9hgHaJI&pid=Api&P=0&h=180" alt="Remove" class="icon_image" onclick=""></td>
     <!-- <td style="padding-left: 30px;"><button class="button_glow">Remove</button></td> -->
     <td style="padding-left: 30px; display: flex; align-items: center;"><button class="button_glow">Configure</button></td>

    </table>

    </div>

  </div>
